In [1]:
import pandas as pd 
# Alias - pd

In [2]:
data1 = {
    "Name" : ["Ravi", "Raju", "Rani"],
    "Age" : [25, 28, 26],
    "Salary" : [25000, 30000, 40000]
}

In [3]:
df1 = pd.DataFrame(data1)
print(df1)

   Name  Age  Salary
0  Ravi   25   25000
1  Raju   28   30000
2  Rani   26   40000

In [4]:
csv_file_name = "C:/Users/Srish/Downloads/drinks.csv"
data_file = pd.read_csv(csv_file_name)

In [5]:
df_csv_file = pd.DataFrame(data_file)
print(df_csv_file)

         country  beer_servings  spirit_servings  wine_servings  \
0    Afghanistan              0                0              0
1        Albania             89              132             54
2        Algeria             25                0             14
3        Andorra            245              138            312
4         Angola            217               57             45
..           ...            ...              ...            ...
188    Venezuela            333              100              3
189      Vietnam            111                2              1
190        Yemen              6                0              0
191       Zambia             32               19              4
192     Zimbabwe             64               18              4

     total_litres_of_pure_alcohol
0                             0.0
1                             4.9
2                             0.7
3                            12.4
4                             5.9
..                            ...
188                           7.7
189                           2.0
190                           0.1
191                           2.5
192                           4.7

[193 rows x 5 columns]

"pip install openpyxl"

In [6]:
data_excel_file = pd.read_excel("FSI-2023-DOWNLOAD.xlsx")
df_excel_file = pd.DataFrame(data_excel_file)
print(df_excel_file)

                       Country  Year   Rank  Total  S1: Demographic Pressures  \
0                      Somalia  2023    1st  111.9                       10.0
1                        Yemen  2023    2nd  108.9                        9.6
2                  South Sudan  2023    3rd  108.5                        9.7
3    Congo Democratic Republic  2023    4th  107.2                        9.7
4                        Syria  2023    5th  107.1                        7.4
..                         ...   ...    ...    ...                        ...
174                Switzerland  2023  175th   17.8                        2.4
175                New Zealand  2023  176th   16.7                        1.1
176                    Finland  2023  177th   16.0                        1.7
177                    Iceland  2023  178th   15.7                        1.5
178                     Norway  2023  179th   14.5                        1.4

     S2: Refugees and IDPs  C3: Group Grievance  \
0                      9.0                  8.7
1                      9.6                  8.8
2                     10.0                  8.6
3                      9.8                  9.4
4                      9.1                  9.1
..                     ...                  ...
174                    3.2                  2.1
175                    1.2                  2.0
176                    1.9                  0.3
177                    1.5                  0.5
178                    1.7                  3.1

     E3: Human Flight and Brain Drain  E2: Economic Inequality  E1: Economy  \
0                                 8.6                      9.1          9.5
1                                 6.4                      7.9          9.9
2                                 6.5                      8.6          8.6
3                                 6.4                      8.4          8.1
4                                 8.0                      6.5          9.6
..                                ...                      ...          ...
174                               1.0                      2.4          1.6
175                               1.6                      2.6          2.6
176                               1.5                      1.6          2.7
177                               1.6                      1.5          2.6
178                               0.7                      1.4          1.4

     P1: State Legitimacy  P2: Public Services  P3: Human Rights  \
0                     9.6                  9.8               9.0
1                     9.8                  9.6               9.6
2                     9.8                  9.7               8.7
3                     9.3                  9.3               9.3
4                    10.0                  9.0               9.1
..                    ...                  ...               ...
174                   0.3                  1.6               0.4
175                   0.5                  1.1               0.5
176                   0.4                  1.0               0.5
177                   0.4                  0.9               0.4
178                   0.4                  1.0               0.4

     C1: Security Apparatus  C2: Factionalized Elites  \
0                       9.5                      10.0
1                       8.6                       9.9
2                       9.9                       9.2
3                       8.8                       9.6
4                       9.4                       9.9
..                      ...                       ...
174                     1.4                       1.0
175                     1.6                       1.4
176                     2.0                       1.4
177                     0.4                       1.8
178                     1.4                       1.1

     X1: External Intervention
0                          9.1
1                          9.2
2                          9.2
3                          9.1
4                         10.0
..                         ...
174                        0.4
175                        0.5
176                        1.0
177                        2.6
178                        0.5

[179 rows x 16 columns]

Try to get data from mySql

In [7]:
# Exploring Data - Null values, Column types, Number of rows, Type of data stored in it, etc.

print(data_excel_file.head(10))
print(data_excel_file.tail(10))
# Here default value is 5

print(data_excel_file.info())

print(data_excel_file.describe())     
# Count, Mean, Std, Min, 25% of data, 50%, 75%, Max

print(data_excel_file.isnull())
# Get boolean values in place of actual data in table form
print(data_excel_file.isnull().sum())
# Column wise NULL value Count

                     Country  Year  Rank  Total  S1: Demographic Pressures  \
0                    Somalia  2023   1st  111.9                       10.0
1                      Yemen  2023   2nd  108.9                        9.6
2                South Sudan  2023   3rd  108.5                        9.7
3  Congo Democratic Republic  2023   4th  107.2                        9.7
4                      Syria  2023   5th  107.1                        7.4
5                Afghanistan  2023   6th  106.6                        9.2
6                      Sudan  2023   7th  106.2                        8.8
7   Central African Republic  2023   8th  105.7                        9.3
8                       Chad  2023   9th  104.6                        9.5
9                      Haiti  2023  10th  102.9                        8.8

   S2: Refugees and IDPs  C3: Group Grievance  \
0                    9.0                  8.7
1                    9.6                  8.8
2                   10.0                  8.6
3                    9.8                  9.4
4                    9.1                  9.1
5                    8.6                  8.3
6                    9.6                  9.3
7                    9.5                  8.1
8                    9.0                  8.1
9                    7.7                  5.5

   E3: Human Flight and Brain Drain  E2: Economic Inequality  E1: Economy  \
0                               8.6                      9.1          9.5
1                               6.4                      7.9          9.9
2                               6.5                      8.6          8.6
3                               6.4                      8.4          8.1
4                               8.0                      6.5          9.6
5                               8.5                      8.2          9.6
6                               7.5                      8.5          9.3
7                               6.2                      9.6          8.2
8                               7.7                      8.7          8.4
9                               8.3                      9.2          8.9

   P1: State Legitimacy  P2: Public Services  P3: Human Rights  \
0                   9.6                  9.8               9.0
1                   9.8                  9.6               9.6
2                   9.8                  9.7               8.7
3                   9.3                  9.3               9.3
4                  10.0                  9.0               9.1
5                   9.4                 10.0               8.7
6                   9.4                  8.6               9.2
7                   8.9                 10.0               9.1
8                   9.1                  9.6               8.4
9                   9.9                  9.8               8.7

   C1: Security Apparatus  C2: Factionalized Elites  X1: External Intervention
0                     9.5                      10.0                        9.1
1                     8.6                       9.9                        9.2
2                     9.9                       9.2                        9.2
3                     8.8                       9.6                        9.1
4                     9.4                       9.9                       10.0
5                     9.7                       8.7                        7.7
6                     8.3                       9.6                        8.1
7                     8.0                       9.4                        9.4
8                     8.7                       9.5                        7.9
9                     6.8                       9.7                        9.6
         Country  Year   Rank  Total  S1: Demographic Pressures  \
169       Sweden  2023  170th   20.6                        3.0
170   Luxembourg  2023  172nd   19.5                        2.4
171      Ireland  2023  171st   19.5                        2.8
172       Canada  2023  173rd   18.9                        1.2
173      Denmark  2023  174th   17.9                        2.3
174  Switzerland  2023  175th   17.8                        2.4
175  New Zealand  2023  176th   16.7                        1.1
176      Finland  2023  177th   16.0                        1.7
177      Iceland  2023  178th   15.7                        1.5
178       Norway  2023  179th   14.5                        1.4

     S2: Refugees and IDPs  C3: Group Grievance  \
169                    3.7                  2.3
170                    2.8                  1.5
171                    1.6                  0.5
172                    2.0                  2.0
173                    3.0                  3.1
174                    3.2                  2.1
175                    1.2                  2.0
176                    1.9                  0.3
177                    1.5                  0.5
178                    1.7                  3.1

     E3: Human Flight and Brain Drain  E2: Economic Inequality  E1: Economy  \
169                               0.6                      2.3          1.3
170                               1.7                      1.8          2.4
171                               2.5                      1.8          1.7
172                               0.7                      2.5          1.4
173                               1.0                      1.8          1.0
174                               1.0                      2.4          1.6
175                               1.6                      2.6          2.6
176                               1.5                      1.6          2.7
177                               1.6                      1.5          2.6
178                               0.7                      1.4          1.4

     P1: State Legitimacy  P2: Public Services  P3: Human Rights  \
169                   0.5                  1.0               1.5
170                   0.3                  1.3               1.1
171                   0.5                  1.9               1.6
172                   0.4                  1.7               1.9
173                   0.3                  1.7               0.6
174                   0.3                  1.6               0.4
175                   0.5                  1.1               0.5
176                   0.4                  1.0               0.5
177                   0.4                  0.9               0.4
178                   0.4                  1.0               0.4

     C1: Security Apparatus  C2: Factionalized Elites  \
169                     2.1                       1.8
170                     0.4                       3.4
171                     2.1                       1.5
172                     2.2                       2.5
173                     1.1                       1.4
174                     1.4                       1.0
175                     1.6                       1.4
176                     2.0                       1.4
177                     0.4                       1.8
178                     1.4                       1.1

     X1: External Intervention
169                        0.5
170                        0.4
171                        1.0
172                        0.4
173                        0.6
174                        0.4
175                        0.5
176                        1.0
177                        2.6
178                        0.5
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179 entries, 0 to 178
Data columns (total 16 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Country                           179 non-null    object
 1   Year                              179 non-null    int64
 2   Rank                              179 non-null    object
 3   Total                             179 non-null    float64
 4   S1: Demographic Pressures         179 non-null    float64
 5   S2: Refugees and IDPs             179 non-null    float64
 6   C3: Group Grievance               179 non-null    float64
 7   E3: Human Flight and Brain Drain  179 non-null    float64
 8   E2: Economic Inequality           179 non-null    float64
 9   E1: Economy                       179 non-null    float64
 10  P1: State Legitimacy              179 non-null    float64
 11  P2: Public Services               179 non-null    float64
 12  P3: Human Rights                  179 non-null    float64
 13  C1: Security Apparatus            179 non-null    float64
 14  C2: Factionalized Elites          179 non-null    float64
 15  X1: External Intervention         179 non-null    float64
dtypes: float64(13), int64(1), object(2)
memory usage: 22.5+ KB
None
         Year       Total  S1: Demographic Pressures  S2: Refugees and IDPs  \
count   179.0  179.000000                 179.000000             179.000000
mean   2023.0   65.832402                   5.955866               4.764246
std       0.0   23.966251                   2.278726               2.373935
min    2023.0   14.500000                   1.100000               0.500000
25%    2023.0   49.000000                   4.100000               2.800000
50%    2023.0   68.200000                   5.900000               4.500000
75%    2023.0   82.200000                   8.050000               6.450000
max    2023.0  111.900000                  10.000000              10.000000

       C3: Group Grievance  E3: Human Flight and Brain Drain  \
count           179.000000                        179.000000
mean              5.574860                          5.184358
std               2.367757                          2.079591
min               0.300000                          0.400000
25%               3.600000                          3.700000
50%               5.500000                          5.600000
75%               7.550000                          6.600000
max               9.700000                         10.000000

       E2: Economic Inequality  E1: Economy  P1: State Legitimacy  \
count               179.000000   179.000000            179.000000
mean                  5.323464     5.687151              5.741341
std                   2.068546     2.200741              2.901853
min                   1.400000     1.000000              0.300000
25%                   3.650000     4.100000              3.650000
50%                   5.200000     6.000000              6.400000
75%                   7.200000     7.150000              8.100000
max                   9.600000     9.900000             10.000000

       P2: Public Services  P3: Human Rights  C1: Security Apparatus  \
count           179.000000        179.000000              179.000000
mean              5.459218          5.436872                5.014525
std               2.581299          2.602588                2.379810
min               0.900000          0.400000                0.300000
25%               3.450000          3.600000                3.350000
50%               5.100000          5.700000                5.100000
75%               7.950000          7.500000                6.700000
max              10.000000          9.900000               10.000000

       C2: Factionalized Elites  X1: External Intervention
count                179.000000                 179.000000
mean                   6.618436                   5.072067
std                    2.427869                   2.577801
min                    1.000000                   0.300000
25%                    4.950000                   3.150000
50%                    7.200000                   5.300000
75%                    8.550000                   7.000000
max                   10.000000                  10.000000
     Country   Year   Rank  Total  S1: Demographic Pressures  \
0      False  False  False  False                      False
1      False  False  False  False                      False
2      False  False  False  False                      False
3      False  False  False  False                      False
4      False  False  False  False                      False
..       ...    ...    ...    ...                        ...
174    False  False  False  False                      False
175    False  False  False  False                      False
176    False  False  False  False                      False
177    False  False  False  False                      False
178    False  False  False  False                      False

     S2: Refugees and IDPs  C3: Group Grievance  \
0                    False                False
1                    False                False
2                    False                False
3                    False                False
4                    False                False
..                     ...                  ...
174                  False                False
175                  False                False
176                  False                False
177                  False                False
178                  False                False

     E3: Human Flight and Brain Drain  E2: Economic Inequality  E1: Economy  \
0                               False                    False        False
1                               False                    False        False
2                               False                    False        False
3                               False                    False        False
4                               False                    False        False
..                                ...                      ...          ...
174                             False                    False        False
175                             False                    False        False
176                             False                    False        False
177                             False                    False        False
178                             False                    False        False

     P1: State Legitimacy  P2: Public Services  P3: Human Rights  \
0                   False                False             False
1                   False                False             False
2                   False                False             False
3                   False                False             False
4                   False                False             False
..                    ...                  ...               ...
174                 False                False             False
175                 False                False             False
176                 False                False             False
177                 False                False             False
178                 False                False             False

     C1: Security Apparatus  C2: Factionalized Elites  \
0                     False                     False
1                     False                     False
2                     False                     False
3                     False                     False
4                     False                     False
..                      ...                       ...
174                   False                     False
175                   False                     False
176                   False                     False
177                   False                     False
178                   False                     False

     X1: External Intervention
0                        False
1                        False
2                        False
3                        False
4                        False
..                         ...
174                      False
175                      False
176                      False
177                      False
178                      False

[179 rows x 16 columns]
Country                             0
Year                                0
Rank                                0
Total                               0
S1: Demographic Pressures           0
S2: Refugees and IDPs               0
C3: Group Grievance                 0
E3: Human Flight and Brain Drain    0
E2: Economic Inequality             0
E1: Economy                         0
P1: State Legitimacy                0
P2: Public Services                 0
P3: Human Rights                    0
C1: Security Apparatus              0
C2: Factionalized Elites            0
X1: External Intervention           0
dtype: int64

In [8]:
# Dealing with duplicate values 

# data_file

print(data_file.duplicated())
# Check if any dulpicate row is there or not 

print(data_file["country"].duplicated())              # { "country" - Primary Key }
# Check if the perticular column contains duplicate or not result is given row-wise
print(data_file["country"].duplicated().sum())

print(data_file.drop_duplicates())
# Removing all the duplicate Rows [Rows which are completely same] 

print(data_file.drop_duplicates("country"))
# Removing all the rows which have same column data

0      False
1      False
2      False
3      False
4      False
       ...
188    False
189    False
190    False
191    False
192    False
Length: 193, dtype: bool
0      False
1      False
2      False
3      False
4      False
       ...
188    False
189    False
190    False
191    False
192    False
Name: country, Length: 193, dtype: bool
0
         country  beer_servings  spirit_servings  wine_servings  \
0    Afghanistan              0                0              0
1        Albania             89              132             54
2        Algeria             25                0             14
3        Andorra            245              138            312
4         Angola            217               57             45
..           ...            ...              ...            ...
188    Venezuela            333              100              3
189      Vietnam            111                2              1
190        Yemen              6                0              0
191       Zambia             32               19              4
192     Zimbabwe             64               18              4

     total_litres_of_pure_alcohol
0                             0.0
1                             4.9
2                             0.7
3                            12.4
4                             5.9
..                            ...
188                           7.7
189                           2.0
190                           0.1
191                           2.5
192                           4.7

[193 rows x 5 columns]
         country  beer_servings  spirit_servings  wine_servings  \
0    Afghanistan              0                0              0
1        Albania             89              132             54
2        Algeria             25                0             14
3        Andorra            245              138            312
4         Angola            217               57             45
..           ...            ...              ...            ...
188    Venezuela            333              100              3
189      Vietnam            111                2              1
190        Yemen              6                0              0
191       Zambia             32               19              4
192     Zimbabwe             64               18              4

     total_litres_of_pure_alcohol
0                             0.0
1                             4.9
2                             0.7
3                            12.4
4                             5.9
..                            ...
188                           7.7
189                           2.0
190                           0.1
191                           2.5
192                           4.7

[193 rows x 5 columns]

In [9]:
# Working with missing data ( NULL Values - NaN - Not a Number - Empty Value )

print(data_file.isnull().sum())

# For Deleting all the null value 
print(data_file.dropna())

# Replacing NaN
import numpy as np
print(data_file.replace(np.nan, "1"))

data_file["beer_servings"] = data_file["beer_servings"].replace(np.nan, 0)


# Calculating Mean
print(data_file["spirit_servings"].mean())
data_file["spirit_servings"] = data_file["spirit_servings"].replace(np.nan, data_file["spirit_servings"].mean())
    # In this way your mean remains constant


# Forward Fill and Backward Fill
print(data_file.fillna(method = 'bfill'))        # Lower Value
print(data_file.fillna(method = 'ffill'))        # Upper Value
print(data_file.fillna('1'))

country                         0
beer_servings                   0
spirit_servings                 0
wine_servings                   0
total_litres_of_pure_alcohol    0
dtype: int64
         country  beer_servings  spirit_servings  wine_servings  \
0    Afghanistan              0                0              0
1        Albania             89              132             54
2        Algeria             25                0             14
3        Andorra            245              138            312
4         Angola            217               57             45
..           ...            ...              ...            ...
188    Venezuela            333              100              3
189      Vietnam            111                2              1
190        Yemen              6                0              0
191       Zambia             32               19              4
192     Zimbabwe             64               18              4

     total_litres_of_pure_alcohol
0                             0.0
1                             4.9
2                             0.7
3                            12.4
4                             5.9
..                            ...
188                           7.7
189                           2.0
190                           0.1
191                           2.5
192                           4.7

[193 rows x 5 columns]
         country  beer_servings  spirit_servings  wine_servings  \
0    Afghanistan              0                0              0
1        Albania             89              132             54
2        Algeria             25                0             14
3        Andorra            245              138            312
4         Angola            217               57             45
..           ...            ...              ...            ...
188    Venezuela            333              100              3
189      Vietnam            111                2              1
190        Yemen              6                0              0
191       Zambia             32               19              4
192     Zimbabwe             64               18              4

     total_litres_of_pure_alcohol
0                             0.0
1                             4.9
2                             0.7
3                            12.4
4                             5.9
..                            ...
188                           7.7
189                           2.0
190                           0.1
191                           2.5
192                           4.7

[193 rows x 5 columns]
80.99481865284974
         country  beer_servings  spirit_servings  wine_servings  \
0    Afghanistan              0                0              0
1        Albania             89              132             54
2        Algeria             25                0             14
3        Andorra            245              138            312
4         Angola            217               57             45
..           ...            ...              ...            ...
188    Venezuela            333              100              3
189      Vietnam            111                2              1
190        Yemen              6                0              0
191       Zambia             32               19              4
192     Zimbabwe             64               18              4

     total_litres_of_pure_alcohol
0                             0.0
1                             4.9
2                             0.7
3                            12.4
4                             5.9
..                            ...
188                           7.7
189                           2.0
190                           0.1
191                           2.5
192                           4.7

[193 rows x 5 columns]
         country  beer_servings  spirit_servings  wine_servings  \
0    Afghanistan              0                0              0
1        Albania             89              132             54
2        Algeria             25                0             14
3        Andorra            245              138            312
4         Angola            217               57             45
..           ...            ...              ...            ...
188    Venezuela            333              100              3
189      Vietnam            111                2              1
190        Yemen              6                0              0
191       Zambia             32               19              4
192     Zimbabwe             64               18              4

     total_litres_of_pure_alcohol
0                             0.0
1                             4.9
2                             0.7
3                            12.4
4                             5.9
..                            ...
188                           7.7
189                           2.0
190                           0.1
191                           2.5
192                           4.7

[193 rows x 5 columns]
         country  beer_servings  spirit_servings  wine_servings  \
0    Afghanistan              0                0              0
1        Albania             89              132             54
2        Algeria             25                0             14
3        Andorra            245              138            312
4         Angola            217               57             45
..           ...            ...              ...            ...
188    Venezuela            333              100              3
189      Vietnam            111                2              1
190        Yemen              6                0              0
191       Zambia             32               19              4
192     Zimbabwe             64               18              4

     total_litres_of_pure_alcohol
0                             0.0
1                             4.9
2                             0.7
3                            12.4
4                             5.9
..                            ...
188                           7.7
189                           2.0
190                           0.1
191                           2.5
192                           4.7

[193 rows x 5 columns]

C:\Users\Srish\AppData\Local\Temp\ipykernel_10908\1601620645.py:22: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(data_file.fillna(method = 'bfill'))        # Lower Value
C:\Users\Srish\AppData\Local\Temp\ipykernel_10908\1601620645.py:23: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(data_file.fillna(method = 'ffill'))        # Upper Value

In [10]:
# Column Transformation 

print(data_file)

         country  beer_servings  spirit_servings  wine_servings  \
0    Afghanistan              0                0              0
1        Albania             89              132             54
2        Algeria             25                0             14
3        Andorra            245              138            312
4         Angola            217               57             45
..           ...            ...              ...            ...
188    Venezuela            333              100              3
189      Vietnam            111                2              1
190        Yemen              6                0              0
191       Zambia             32               19              4
192     Zimbabwe             64               18              4

     total_litres_of_pure_alcohol
0                             0.0
1                             4.9
2                             0.7
3                            12.4
4                             5.9
..                            ...
188                           7.7
189                           2.0
190                           0.1
191                           2.5
192                           4.7

[193 rows x 5 columns]